@keyframes lilShake {
    35% {
        transform: rotateZ(-20deg);
    }
    65% {
        transform: rotateZ(15deg);
    }

}

@keyframes fadeInFromAbove {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 100%; 
        transform: translateY(0);
    }
}

@keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 100%; 
        transform: translateX(0);
    }
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 100%; 
        transform: translateX(0);
    }
}

@keyframes fadeInFromBelow {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 100%; 
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%; 
    }
}

@keyframes fadeInNOut {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 100%; 
    }
    70% {
        opacity: 100%; 
    }
    100% {
        opacity: 0; 
    }
}