@import './../../styles/animations.scss';

.mainPage {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 701px) {
        flex-direction: column;
        .slidein-text {
            animation: 4s ease-out 0s 1 fadeIn;
            h2, h3, h4 {
                text-align: center;
            }

            display: flex;
            flex-direction: column;
            align-items: center;

            ul {
                position: relative;
            }

            svg {
                opacity: 100%;
            }

        }

        img {
            animation: 1.5s ease-out 0s 1 fadeInFromAbove;
        }        
    }

    @media only screen and (min-width: 700px) {
        .slidein-text {
            animation: 4s ease-out 0s 1 fadeInFromRight;
            margin-left: 2rem;

            ul {
                position: absolute;
            }

            svg:hover {
                opacity: 100%;
                width: 2.5rem;
                animation: 1s ease-in-out 0s 1 lilShake;
            }
        }

        img {
            animation: 3s ease-out 0s 1 fadeInFromAbove;
        }
    }
    
    img {
        animation: 3s ease-out 0s 1 fadeInFromAbove;
        width: 25rem;
        
        transition: all 500ms;
    }
    
    .slidein-text {

        h2, h3, h4 {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        ul {
            display: flex;
            list-style: none;
            padding-left: 1rem;

            li {
                margin-right: 0.8rem;
                cursor: pointer;

                #phone {
                    position: absolute;
                    opacity: 100%;
                    margin-top: 0.4rem;
                    
                    transition: all 500ms;
                    &.hide {
                        opacity: 0;
                        user-select: none;
                    }

                    svg {
                        width: 1rem;
                    }

                    spam {
                        animation: 1.5s ease-in-out 0s 1 fadeInNOut;
                        opacity: 0;
                        position: relative;
                        font-size: 14px;
                        left: 8.5rem;
                        bottom: 1.9rem;
                        border: grey 1px solid;
                        border-radius: 12%;
                        padding: 0 0.2rem 0 0.2rem;
                    }
                }
            }

            svg {
                width: 2rem;
                opacity: 75%;

                transition: all 500ms;
            }
        }
    }

}

.content-container {
    display: flex;

    @media only screen and (min-width: 700px){
        // computer screen

        display: flex;
        justify-content: space-around;
        width: 40rem;
        animation: 3s ease-out 0s 1 fadeInFromBelow;

    }

    @media only screen and (max-width: 701px){
        // phone screen

        margin-top: 1rem;
        display: flex;
        align-items: flex-start;
        animation: 4s ease-out 0s 1 fadeIn;
    
        #spacer {
            width: 1rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }

        & > :first-child {
            margin-left: 1.2rem;
        }
    }
}