.navbar {
    display: flex;
    align-items: center;
    
    img {
        animation: 3s ease-out 0s 1 fadeInFromAbove;
        width: 25rem;
        margin-top: 4rem;
        
        transition: all 500ms;
    }
    
    .slidein-text {
        margin-left: 2rem;
        animation: 4s ease-out 0s 1 fadeInFromSide;

        ul {
            position: absolute;
            display: flex;
            list-style: none;
            padding-left: 1rem;

            li {
                margin-right: 0.8rem;
                cursor: pointer;

                #phone {
                    position: absolute;
                    opacity: 100%;
                    margin-top: 0.4rem;
                    
                    transition: all 500ms;
                    &.hide {
                        opacity: 0;
                    }
                }
            }

            svg {
                width: 2rem;
                opacity: 75%;

                transition: all 500ms;
                &:hover {
                    opacity: 100%;
                    width: 2.5rem;
                    animation: 1s ease-in-out 0s 1 lilShake;
                }

            }
        }
    }
}

@keyframes lilShake {
    35% {
        transform: rotateZ(-20deg);
    }
    65% {
        transform: rotateZ(15deg);
    }

}

@keyframes fadeInFromAbove {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 100%; 
        transform: translateY(0);
    }
}

@keyframes fadeInFromSide {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 100%; 
        transform: translateX(0);
    }
}