@import "./../../styles/animations.scss";

.about-page {
    display: flex;
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    align-items: center;
    justify-content: space-evenly;

    #about-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 40rem;
        margin-right: 1rem;
        animation: 3s ease-out 0s 1 fadeInFromLeft;
        
        h2 {
            font-family: "AndyBold";
        }
    
        p {
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

    }


    a {
        animation: 3s ease-out 0s 1 fadeInFromRight;
        width: 65rem;
        margin-left: 1rem;

        img {
            border-radius: 10%;
            max-width: 100%;
            height: auto;
        }
    }
}