@import "./../../styles/animations.scss";


.about-page {
    display: flex;
    overflow: hidden;

    a {
        img {
            border-radius: 10%;
        }
    }

    #about-text {
        h2 {
            font-family: "AndyBold";
        }
    
        p {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }
}

@media only screen and (min-width: 1171px) {
    // computer screen
    .about-page {
        margin: 2rem 10rem 0 10rem;
        align-items: center;
        justify-content: space-evenly;
    
        #about-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 40rem;
            margin-right: 1rem;
            animation: 3s ease-out 0s 1 fadeInFromLeft;
    
        }
    
    
        a {
            animation: 4s ease-out 0s 1 fadeInFromRight;
            width: 65rem;
            margin-left: 1rem;
    
            img {
                max-width: 630px;
                height: auto;
            }
        }
    
        
    }
}


@media only screen and (max-width: 1170px) {
    // phone screen
    .about-page {
        flex-direction: column-reverse;
        align-items: center;

        #about-text {
            text-align: center;
            margin: 1rem 1rem 2rem 1rem;
            animation: 3s ease-out 0s 1 fadeInFromBelow;
            width: 90%;
        }

        a {
            max-height: 30rem;
            animation: 3s ease-out 0s 1 fadeInFromAbove;
            margin: 0 1rem 0 1rem;

            img {
                max-height: 30rem;
            }
        }
    }
}